.box-header .header-icon{
    float: right;
    margin-top: 1px;
}
.box-header .header-icon a {
    margin: 0 5px;
	color:#fff;
	text-decoration:none;
}
.form-horizontal .control-group{
	max-width: 1060px;
	width: 100%;
}
.form-horizontal .controls{
	max-width:calc(100% - 200px);
}
.table-responsive{
	max-width:100%;
	overflow-x:auto;
}
.addBtn{
	text-align:right;
	padding-right:20px;
	cursor:pointer;
}
.removeRow{
	color:#f00;
	cursor:pointer;
}
#education input[type="text"]{
	/*max-width:40px;*/
	width:auto;
}
.box-content .controls {
	width: 100% !important;
	position: relative;
	float: left;
	margin-left: 0;
	max-width: 100%;
}
.controls .addBtn {
	text-align: center;
	padding-right: 0;
	position: absolute;
	right: -17px;
	bottom: 30px;
}
.form-horizontal .control-label {
	float: left;
	width: 100%;
	padding-top: 5px;
	text-align: left;
}
.table-responsive {
	width: 100%;
}
.table-responsive table .input-xlarge, .table-responsive table input {
	width: 88% !important;
	box-shadow: inherit;
	border: none;
}

/* 17112018 */
.info_form input {
	width: 282px;
}
.info_form select {
	width: 296px;
}
.left-part input {
	margin-left: 104px;
}
.infobox {
	margin-top: 10px;
}
.four-column-section {
	clear: both;
	float: left;
	width: 100%;
}
.four-column-section .four-column {
	width: 23%;
	float: left;
	padding-right: 2%;
}
.four-column-section .four-column:nth-child(4n+5) {
	clear: both;
}
.expand_btn {
	width: 22px;
	height: 22px;
	position: absolute;
	display: block;
	background: url(../img/plus-sign.png) no-repeat scroll 0 0;
	right: 10px;
	top: -30px;
	cursor: pointer;
	z-index: 999;
}
.expand_btn.minus {
	background: url(../img/minus-sign.png) no-repeat scroll 0 0;
}
.expand_content {
	display: none;
}
.two-column-section {
	float: left;
	width: 100%;
}
.two-column-section .two-column {
	width: 49%;
	float: left;
	margin-right: 1%;
}
.two-column-section .two-column:last-child {
	margin-right: 0;
}
.form-horizontal .control-label {
	font-weight: 600;
}
.form-horizontal .form-actions {
	clear: both;
}